{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tibib{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <h1>Tibib</h1>
                <ul>
                    {% if user_role != None %}
                        <li><a href="{% url 'auth_page:home' %}">Profile</a></li>
                        {% if user_role == 'staff' %}
                        <li><a href="{% url 'staff:dashboard_admin' %}">Dashboard Admin</a></li>
                        <li><a href="{% url 'staff:create_reksadana' %}">Create Reksadana</a></li>
                        {% elif user_role == 'user' %}
                        <li><a href="{% url 'portfolio:index' %}">Portfolio</a></li>
                        <li><a href="{% url 'dashboard:dashboard' %}">Dashboard</a></li>
                        {% endif %}
                        <li><a href="{% url 'auth_page:logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'auth_page:login' %}">Login</a></li>
                        <li><a href="{% url 'auth_page:register' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    
    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2025 Tibib. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>